# Install to a virtualenv. It'll make the resulting pyinstaller package way smaller.

pandas >= 1.2.3
sklearn >= 0.0
numpy >= 1.20.2

# Unfortunately, pytables doesn't have wheels for cp3.9 on Windows or Mac, and the build will probably fail.
# On Windows, download an unofficial wheel from https://www.lfd.uci.edu/~gohlke/pythonlibs/#pytables
# On Mac: brew install hdf5 c-blosc
tables >= 3.6.1

# Install manually from https://github.com/pmgagne/tkinterdnd2
# After cloning the repo, change the package name to "tkinterdnd2" in setup.py
tkinterdnd2 >= 0.3.0